<p-dataView
  #dv
  [value]="auctions"
  [paginator]="true"
  [rows]="6"
  [layout]="layout"
  filterBy="brand"
  [sortField]="sortField"
  [sortOrder]="sortOrder"
>
  <ng-template pTemplate="header">
    <div class="flex flex-row flex-wrap row-gap-3">
      <div class="flex flex-grow-1 flex-wrap gap-3">
        <p-dropdown
          [options]="sortOptions"
          [showClear]="true"
          [(ngModel)]="sortValue"
          [placeholder]="'AUCTIONS.SEARCH.SORT' | translate"
          (onChange)="onSortChange($event)"
        ></p-dropdown>
        <input
          type="text"
          pInputText
          [placeholder]="'AUCTIONS.SEARCH.FILTER' | translate"
          (input)="dv.filter($any($event.target).value, 'contains')"
        />
      </div>
      <div class="flex flex-grow-0">
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="listItem" let-auction>
    <div class="col-12 p-3">
      <app-auction-item
        display="list"
        [data]="auction"
        (onDeleteAuction)="onDeleteAuction($event)"
        (onEditAuction)="onEditAuction($event)"
      ></app-auction-item>
    </div>
  </ng-template>
  <ng-template pTemplate="gridItem" let-auction>
    <div class="col-12 md:col-4 p-3">
      <app-auction-item
        display="grid"
        [data]="auction"
        (onDeleteAuction)="onDeleteAuction($event)"
        (onEditAuction)="onEditAuction($event)"
      ></app-auction-item>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      [label]="'AUCTIONS.ACTIONS.ADD-BUTTON' | translate"
      icon="pi pi-plus"
      (click)="onEditAuction()"
    ></button>
  </ng-template>
  <ng-template pTemplate="empty">
    <div class="flex flex-column row-gap-3">
      <div class="mx-auto">
        <i class="pi pi-sync" style="font-size: 2.5rem"></i>
      </div>
      <div>
        <h4 class="text-center">
          {{ "AUCTIONS.SEARCH.EMPTY" | translate }}
        </h4>
      </div>
    </div>
  </ng-template>
</p-dataView>

<app-auction-edit
  [(visible)]="displayEditAuctionDialog"
  [auction]="editedAuction"
  [isAddingAuction]="isAddingAuction"
  (onEditAuction)="editAuction($event)"
  (onAddAuction)="addAuction($event)"
></app-auction-edit>
